<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>欢迎<%=user.name%>光临！</h1>
         <h1><a href="logout">注销</a></h1>
  </body>
</html>